<app-breadcrumb [paths]=path [nomTopic]=nomtopic></app-breadcrumb>

<button (click)="creation_sujet()">Nouveau sujet </button>

<div style="overflow: auto;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #empTbSort="matSort">
    <!-- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="NomTopic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NomTopic </th>
      <td mat-cell *matCellDef="let element"> {{element.NomTopic}}


      </td>
    </ng-container>

    <ng-container matColumnDef="NbPost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NbPost</th>
      <td mat-cell *matCellDef="let element"> {{element.NbPost}} </td>
    </ng-container>



    <ng-container matColumnDef="Dernier message">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dernier message</th>
      <td mat-cell *matCellDef="let element"> {{element.NbPost }} </td>
    </ng-container>
    <ng-container matColumnDef="idTopic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>idTopic</th>
      <td mat-cell *matCellDef="let element"> {{element.idTopic }}
        <a [routerLink]="['/posts/',element.idTopic]" class="stretched-link"></a>
      </td>

    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="position-relative"></tr>

  </table>

  <mat-paginator #paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons></mat-paginator>


</div>