<div class="form_register_login" *ngIf="is_afficher_Login==false">
    <h6> Choisissez si vous voulez vous connecter<br> en tant que <b>Collaborateur</b>
        ou en tant que <b>RH</b></h6>

    <div class="flex_button"><button class="button_choix" (click)="loginC()">login Collaborateur</button>
        <button class="button_choix" (click)="loginRH()">login RH</button>
    </div>
</div>
<app-login-collaborateur *ngIf="Boolean_loginC===true"></app-login-collaborateur>
<app-login-rh *ngIf="Boolean_loginRH===true"></app-login-rh>
<div class="login_contraste" *ngIf="is_afficher_Login==false"></div>